html 
    head 
        style
            include style.css
title=title
body
    h1=title
article  
    header 
        h2=description
figure 
    img(src="./img/cat.jpg", alt="big small trans")
p=p1 
p=p2 
script(src="./js/main.js") 
